// MAIN ICONS

.devicon-sass-original,
.devicon-html5-plain,
.devicon-javascript-plain,
.devicon-react-original,
.devicon-visualstudio-plain,
.materialUI,
.devicon-npm-original-wordmark {
  color: #d3c9c0;
  font-size: 80px;
}

.devicon-git-plain,
.devicon-github-plain,
.devicon-css3-plain,
.devicon-nodejs-plain,
.devicon-slack-plain,
.devicon-trello-plain {
  color: #d3c9c0;
  font-size: 60px;
}

.devicon-mongodb-plain,
.devicon-python-plain,
.devicon-django-plain,
.devicon-intellij-plain,
.devicon-java-plain,
.devicon-postgresql-plain,
.devicon-typescript-plain,
.devicon-express-original {
  color: #d3c9c0;
  font-size: 50px;
}

.materialui {
  width: 70px;
}

// PROJECT ICONS

.project-icon {
  color: #d3c9c0;
  font-size: 25px;
  padding: 5px;
}

.github-link {
  color: #d3c9c0;
  font-size: 35px;
  padding: 10px;
}

.materialIcon {
  width: 24px;
}
