// #323E47 - background color
// #C8CFDB - text color
// #3E535B
// #A1A4A7
// #00928E
// #44535f - paper color

$background-color: #323e47;
$font-family-main: "Neuton", serif;
$font-family-secondary: "Work Sans", sans-serif;
$font-family-third: "Libre Baskerville", serif;

main,
body {
  background-color: $background-color;
  font-family: $font-family-main;
}

#primary-menu-mobile
  > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
  > ul {
  background-color: #44535f;
}

@import "./icons";
@import "./tetris";
@import "./about";
@import "./project-images";
@import "./profileImage";
