// #323E47 - background color
// #C8CFDB - text color
// #3E535B
// #A1A4A7
// #00928E


// font-family: 'Bitter', serif;    Primary font
// 

$background-color: #323E47;
$font-family-main: 'Cormorant Garamond', serif;
$font-family-secondary: 'Open Sans', sans-serif;
$font-family-third: 'Neuton', serif;

main, body {
  background-color: $background-color;
  font-family: $font-family-main;
}
