// #152031 - background color
// #859BAC - text color
// #4ecdc4
// #37908d
// #cd4eaf
// #90377a
// #cdb34e

// font-family: 'Bitter', serif;    Primary font
// 

$background-color: #152031;
$font-family: 'Bitter', serif;

main, body {
  background-color: $background-color;
  font-family: $font-family;
}
